/* app css stylesheet */

/*.menu {*/
  /*list-style: none;*/
  /*border-bottom: 0.1em solid black;*/
  /*margin-bottom: 2em;*/
  /*padding: 0 0 0.5em;*/
/*}*/
/**/
/*.menu:before {*/
  /*content: "[";*/
/*}*/
/**/
/*.menu:after {*/
  /*content: "]";*/
/*}*/
/**/
/*.menu > li {*/
  /*display: inline;*/
/*}*/
/**/
/*.menu > li:before {*/
  /*content: "|";*/
  /*padding-right: 0.3em;*/
/*}*/
/**/
/*.menu > li:nth-child(1):before {*/
  /*content: "";*/
  /*padding: 0;*/
/*}*/

.card {
    height: 360px;
}
.ingredient-buttons{
    margin-top:10px;

}

.card-description {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
}

.pic{
    min-height: 200px;
    max-height: 200px;
    /*min-width: 250px;*/
    /*max-width: 250px;*/
    display: block;
}

.all{
    text-align:center;
    background-color:white;
    padding:0px;
}

.back{
    margin-top: 50px;
    background-color:#add8e6;
    margin-bottom: 30px;
    border:2px solid blue;
}

.bord{
    border:2px solid black;
}

.page-container > .container-fluid:first-child {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .page-container > .container-fluid:first-child {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-container > .container-fluid:first-child {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-container > .container-fluid:first-child {
    width: 1170px;
  }
}
.page-container .page-bg {
  margin-top:100px;
  padding-top: 15px;
  padding-right:20px;
  padding-bottom:40px;
  padding-left:20px;
  background-color: #add8e6;
  border:2px solid blue;
}

body {
  background-color: #333333;
}

.photo{
    max-height: 400px;
    max-width: 400px;
    display: block;
}

.wide{
    width: 200px;
}

.center {
    margin:0 auto;
    text-align:left;
}