


<div class="container img-rounded back">
    <h1>Add a New Recipe</h1>

    <div class="form-group col-lg-6">
        <label>Name</label>
        <input ng-model="recipe.name"
               class="form-control" placeholder="Add Recipe Name">
    </div>

    <div class="form-group col-lg-6" ng-class="{'has-error':(createNewIngredient && newIngredient.$error)}">
        <label>Ingredients</label>
        <input type="text" ng-model="searchTerm" class="form-control">
        <select size="5"multiple ng-model="recipe.ingredients"
                ng-options="ingredient.id as ingredient.name for ingredient in ingredients | orderBy:'name' | filter:searchTerm"
                ng-hide="createNewIngredient || searchTerm.length < 1" class="form-control">

        </select>
        <button class="btn btn-default ingredient-buttons" ng-click="addIngredient()" ng-hide="createNewIngredient">
            Add Ingredient Not In List
            <!--<span class="glyphicon glyphicon-plus"></span>-->
        </button>
        <ol>
            <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
        </ol>
        <input type="text" ng-model="newIngredient.name" class="form-control" ng-show="createNewIngredient">
        <div class="ingredient-buttons" ng-show="createNewIngredient">
            <button class="btn btn-primary"  ng-click="saveIngredient(newIngredient.name)">Add</button>
            <button class="btn btn-danger"  ng-click="cancelIngredient()">Cancel</button>
            <span ng-show="newIngredient.$error" class="alert alert-danger" role="alert">
                Ingredient already exists</span>
            <input type="text" ng-model="searchTerm">
        </div>
            <!--<input ng-model="recipe.ingredients.name"
               class="form-control">-->
    </div>

    <div class="form-group col-lg-6">
        <label>Description</label>
        <input ng-model="recipe.description"
               class="form-control">
    </div>

    <div class="form-group col-lg-6">
        <label>Instructions</label>
        <input ng-model="recipe.instructions"
               class="form-control">
    </div>

   <div class="form-group col-lg-6">
        <label>Category</label>
        <input ng-model="recipe.categories"
               class="form-control">
    </div>

    <div class="form-group col-lg-6">
        <label>Photo (url)</label>
        <input ng-model="recipe.photo"
               class="form-control">
    </div>

    <button class="btn btn-success"
            ng-click="addRecipe()">
        Add Recipe
    </button>

</div>
