<div class="page-container">
    <div class="container-fluid">
        <div class="page-bg img-rounded">
            <div class="container-fluid">
                <div class="row text-center">

                    <h1>{{ recipe.name }}</h1>


                    <div class="col-lg-6">
                        <img class="img-rounded photo" ng-src="{{ recipe.photo }}">
                    </div>

                    <div class="row col-lg-5 col-lg-offset-1 text-left">
                        <h3>Ingredients:</h3>
                        <ul>

                            <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
                        </ul>
                        <h4>Instructions:</h4>

                        <p>{{ recipe.instructions }}</p>

                        <strong>Recipe Category:{{ recipe.categories }}</strong>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>