<div class="page-container">
    <div class="container-fluid">
        <div class="page-bg img-rounded">
            <div class="container-fluid">
                <div class="row text-center">

                    <h1>{{ recipe.name }}</h1>

                    <img class="img-rounded" ng-src="{{ recipe.photo }}">

                    <div class="row text-left col-lg-6">
                        <h3>Ingredients:</h3>
                        <ul>

                            <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
                        </ul>
                        <h4>Instructions:</h4>

                        <p>{{ recipe.instructions }}</p>


                    </div>
                    <button class="btn btn-warning" ng-click="editing=true" ng-hide="editing">
                        Edit Name
                    </button>
                    <button class="btn btn-default" ng-click="saveRecipe()" ng-show="editing">
                        Save Recipe
                    </button>
                    <button class="btn btn-danger" ng-click="deleteRecipe()" ng-show="editing">
                        Delete Recipe
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>